@font-face {
  font-family: myFirstFont;
  src: url(fonts/CloisterBlack.ttf);
}

@font-face {
  font-family: mySecondFont;
  src: url(fonts/traveling_typewriter/TravelingTypewriter.ttf);
}

@font-face {
  font-family: myThirdFont;
  src: url(fonts/cardinal/Cardinal.ttf);
}

@font-face {
  font-family: myFourthFont;
  src: url(fonts/made_bon_voyage/thin.otf);
}

body {
  background-image: url("HEAD.png");
  background-repeat: repeat-y;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

#main{
  font-family: myFirstFont;
  font-size: 52px;
  justify-content: center;
}


#container{
  position: relative;
  top: 100px;
  width: 550px;

}

#content-box{
  background: #688b9a;
  font-family: myFourthFont;
  padding: 15px;
  margin-bottom: 15px;

}


ul {
  display: flex;
  font-family: mySecondFont;
  justify-content: center;
  list-style-type: none;
  position: relative;
  padding: 0px;

}

h1 {
  font-family: myThirdFont;
  font-size: 35px;
  text-align: center;
}

a {
  text-decoration: none;
  background: #fafafa;
  padding: 10px;

}

a:hover{
  background: #688b9a;
}
