@font-face {
  font-family: myFirstFont;
  src: url(Fonts/old_london/Olondon_.otf);
}
body {
  display: flex;
  justify-content: center;
  background: #47697e;
}

#main{
  font-size: 45px;
  display: flex;
  justify-content: center;
}
/* XXX:  */
#skull{
  display: flex;
  justify-content: center;
}


#container{
  position: relative;
  top: 100px;
  width: 500px;

}

#content-box{
  background: #688b9a;
  padding: 15px;
  margin-bottom: 15px;

}


ul {
  position: relative;
  margin-bottom: 13px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

a {

  text-decoration: none;
  background: #688b9a;
  padding: 15px;

}

a:hover{
  background: #FCCC34;
}
